body{
    margin: 10% 30%;
    background-image: url('C:/Users/MeenachiS/Documents/parctice/todo/todo_img.jfif');
}
.content-0{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3% !important;
    width: 100% !important;
}
.content-0 h3{
    width: 35% !important;
}

.content-0 .se{
    height: 3% !important;
    width: 35% !important;
}

ul{
    width: 100%;

}
.styl{
    display: flex;
   justify-content: space-between;
    gap : 10px;
}
.span{
    width: 70px;
    text-align: center;
    padding-top: 1%;
}